<h1>Index</h1>

<% if notice.present? %>
  <%= notice %>
<% end %>

<%= form_with model: @product, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control" %>
  </div>
  <%= form.submit 'Enviar', class:"btn btn-primary" %>
<% end %>

<table class="table table-dark">
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to "Show", detail_path(product), class:"btn btn-info" %></td>
        <td><%= link_to "Destroy", product_path(product), method: :delete, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
